.filters {
   background-color: white;
   height: 70px;
   width: 100%;
   border: 1px solid #dddddd;
   border-radius: 4px;
   margin: 0 auto;
   display: grid;
   grid-column: 3/11;
   grid-row: 2/3;
   grid-template-columns: 25% 25% 50%;
   grid-template-rows: 70px;
   position: absolute;
}

.filters button:hover {
   opacity: 0.9;
}

.filters button {
   font-size: 18px;
   background-color: #ff5a5f;
   color: #ffffff;
   height: 48px;
   border-style: none;
   right: 30px;
   position: absolute;
   width: 20%;

   align-self: center;
   text-align: center;
   border-radius: 4px;
}

.location {
   height: 100%;
   grid-column: 1/2;
   grid-row: 1/2;
   border-right: #dddddd solid 1px;
}

.amenities {
   height: 100%;
   grid-column: 2/3;
   grid-row: 1/2;
}

.location h3 {
   font-weight: 600;
   padding-left: 30px;
   margin-top: 10px;
}

.location h4 {
   font-weight: 400;
   font-size: 14px;
   padding-left: 30px;
   margin-top: 0;
   margin-bottom: 8px;
}

.amenities h3 {
   font-weight: 600;
   padding-left: 30px;
   margin-top: 10px;
}

.amenities h4 {
   font-weight: 400;
   font-size: 14px;
   padding-left: 30px;
   margin-top: 0;
   margin-bottom: 8px;
}

.location:hover .popover {
   display: block;
}

.amenities:hover .popover {
   display: block;
}

.popover {
   display: none;
   position: absolute;
   background-color: #fafafa;
   border: #dddddd solid 1px;
   border-radius: 4px;
   z-index: 1;
   width: 25%;
   padding-top: 15px;
   padding-bottom: 30px;
}

.popover li {
   list-style-type: none;
   padding-left: 0px;
}

.popover h2 {
   padding-left: 20px;
}
