.places {
   font-size: 15px;
   grid-column-start: 3;
   grid-row-start: 3;
   position: absolute;
}

.places article {
   padding: 20px;
   margin: 20px;
   width: 300px;
   border: #ff5a5f solid 1px;
   text-align: center;
   float: left;
   border-radius: 4px;
}
